header{
  height: 10rem;
  background-color: #3A9094;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 200px;
  width: 200px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

