#announcement-bar{
  background-color: #E07FB3;
  width: 100%;
  height: 1.3rem;
  text-align: center;
  vertical-align: middle;
  color: #FFFF;
}
header{
  height: 10rem;
  background-color: #3A9094;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 200px;
  width: 200px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar{
  font-size: 1.5rem;
}

#shop-button{
  font-size: 1.5rem;
  color: #E1DDCC;
  text-transform: none;
}

#cartimg{
  height: 30px;
}